.page {
    max-width: 1280px;
    margin: 0 auto;
    background: #2A2C2F;
    color: #fff;
    font-family: 'Inter', 'Arial', sans-serif;

    -moz-osx-font-smoothing: grayscale; /* Mozila Firefox */
    -webkit-font-smoothing: antialiased; /* Webkit (Chromium: Chrome, Yandex, Opera */

    -webkit-text-size-adjust: 100%; /* Webkit */
    -ms-text-size-adjust: 100%; /* Microsoft */
    -moz-text-size-adjust: 100%; /* Mozila */

    text-rendering: optimizeLegibility;
}
@media screen and (max-width: 1280px) {
    .page {
       min-width: 1024px;
    }
  } 
  
  @media screen and (max-width: 1024px) {
    .page {
       min-width: 768px;
    }
  } 
  
  @media screen and (max-width: 768px) {
    .page {
       min-width: 320px;
    }
  } 