.places {
    max-width: 984px;
    margin: 0 auto;
    display: grid;
    gap: 80px;
}

@media screen and (max-width:1023px) {
    .places {
        max-width: 928px;
        margin: 0 48px;
    }
}

@media screen and (max-width: 767px) {
    .places {
        max-width: 720px;
        margin: 0 24px;
        gap: 72px;
    }
}

@media screen and (max-width: 319px) {
    .places {
        max-width: 320px;
        margin: 0px;
        gap: 50px;
    }
}
