.lead {
    max-width: 984px;
    margin: 0 auto;
}

@media screen and (max-width: 1024px) {
    .lead {
        max-width: calc(100% - 48px*2);
    }
}

@media screen and (max-width: 768px) {
    .lead {
        max-width: 100%;
        margin: 0;
    }
}

@media screen and (max-width: 320px) {
    .lead {
        max-width: 320px;
    }
}