.header__language {
    font-size: 24px;
    line-height: 117%;
    margin-right: 18px;
    text-decoration: none;
    color: #fff;
}

.header__language:last-child {
    margin: 0;
}

.header__language:hover {
    box-shadow: inset 0px -1px 0px 0px #fff;
}

@media screen and (max-width: 320px) {
    .header__language {
        font-size: 18px;
        line-height: 111%;
    }
}