.cover__subtitle {
    max-width: 360px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

@media screen and (max-Width: 320px) {
    .cover__subtitle {
        max-width: 288px;
        font-size: 14px;
        line-height: 114%;
    }
}