.content {
display: grid;
    gap: 92px;
}

@media screen and (max-width: 767px) {
    .content {
        gap: 88px;
    }
}

@media screen and (max-width: 319px) {
    .content {
        gap: 64px;
    }
}