.lead__title {
    display: grid;
    grid-auto-columns: min-content;
    justify-content: center;
    /* max-width: 700px; */
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    margin: 0 auto;
    padding-top: 56px;
}