.intro {
    min-width: 984px;
    margin: 0 auto;
}

@media screen and (max-width: 1024px) {
    .intro {
        min-width: calc(100% - 48px*2);
    }
}

@media (max-width: 768px) {
    .intro {
        max-width: calc(100% - 24px*2);
    }
}

@media (max-width: 576px) {
    .intro {
        max-width: calc(100% - 16px*2);
    }
}