.lead__subtitle {
    padding-top: 32px;
    max-width: 640px;
    margin: 0 auto 64px;
    font-size: 30px;
    line-height: 120%;
    text-align: center;
}

@media screen and (max-width: 1023px) {
    .lead__subtitle {
        margin-bottom: 56px;;
    }
}

@media screen and (max-width: 767px) {
    .lead__subtitle {
        max-width: calc(100% - 64px*2);
    }
}

@media screen and (max-width: 425px) {
    .lead__subtitle {
        margin-bottom: 40px;
        max-width: calc(100% - 16px*2);
        font-size: 20px;
    }
}
@media (max-width: 319px) {
    .lead__subtitle {
        margin: 0px 16px 40px;
        font-size: 16px;
        line-height: 125%;
        padding-top: 16px;
    }
}