.cover__title {
    max-width: 560px;
    margin: 0 auto 32px;
    font-size: 72px;
    line-height: 106%;
    font-weight: 900;
    text-align: center;
}


@media screen and (max-width: 767px) {
    .cover__title {
        max-width: 74%;
        font-size: 9.4vw;
        line-height: 1.06em;
        margin: 0 auto 10px;
    }
}


@media screen and (max-width: 320px) { 
    .cover__title {
        max-width: 255px;
        font-size: 32px;
        line-height: 109%;
        margin: 0 auto 16px;
    }
}