.lead__figure-caption {
    font-size: 10px;
    line-height: 140%;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}

@media screen and (max-width: 767px) {
    .lead__figure-caption {
        margin-left: 24px;
    }   
}

@media screen and (max-width: 319px) {
    .lead__figure-caption {
        margin-left: 16px;
    }
}