.place {
    display: grid;
    gap: 48px 40px;
    grid-template-columns: 0.95fr 1fr;
    grid-template-areas:
        "place-title place-web"
        "place-img place-description";
}

@media screen and (max-width: 1024px) {
    .place {
        gap: 48px 32px;
        grid-template-columns: 0.965fr 1fr;
    }
}

@media screen and (max-width: 768px) {
    .place {
        gap: 48px 28px;
    }
}

@media (max-width: 576px) {
    .place {
        grid-template-areas:
        "place-title" 
        "place-web"
        "place-img" 
        "place-description";
        grid-template-columns: auto;
        gap: 32px 0px;
    }
}
