/* 
===========================================================================

<blockquote> 
У вас фиксирована ширина первой колонки в карточке place. 
Это не критично, но на некторых разрешениях приводит к 
не очень гармоничному отображению карточки, картинка слишком широкая 
по сравнению с текстом: https://prnt.sc/1066ct6. 
Рассмотрите возможность задать ширину обеих колонок в fr, 
можно сделать одинаковыми, расхождение с макетом будет незначительное. 
Если хочется идеального совпадения с макетом на контрольных точках, 
можно использовать коэффициенты у fr, для сохранения пропорции 
(например, 4.6fr 4.84fr).
</blockquote>

===========================================================================

Я заменил фиксированные значения на fr с коэффициентами, 
Но все равно картинка не ужимается так как хотелось бы. 

Ей либо мешает размер шрифта в тайтле, либо .....
Размер шрифта в тайтле менял на vw, но тогда придется делать еще доп. брейкпоинты - не стал.

Посоветуйте как можно решить? :) 

===========================================================================

*/

.place {
    display: grid;
    gap: 48px 40px;
    grid-template-columns: 0.95fr 1fr;
    grid-template-areas:
        "place-title place-web"
        "place-img place-description";
}

@media screen and (max-width: 1024px) {
    .place {
        gap: 48px 32px;
        grid-template-columns: 0.965fr 1fr;
    }
}

@media screen and (max-width: 768px) {
    .place {
        gap: 48px 28px;
    }
}

@media (max-width: 576px) {
    .place {
        grid-template-areas:
        "place-title" 
        "place-web"
        "place-img" 
        "place-description";
        grid-template-columns: auto;
        gap: 32px 0px;
    }
}
