.footer {
    display: flex;
    justify-content: space-between;
    margin: 92px 48px 24px;
}

@media screen and (max-width: 767px) {
    .footer {
        margin: 88px 24px 24px;
    }
}

@media screen and (max-width: 700px) {
    .footer {
        flex-direction: column;
        margin: 88px 24px 24px;
    }
}

@media screen and (max-width: 319px) {
    .footer {
        margin: 64px 16px 0;
    }
}